#main-play {
  position: absolute;
  font-size: 10em;
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
  
  border-style: solid;
  border-radius: 50%;
  border-color: rgba(128, 128, 128, 0.4);
  
  padding-top: 0.05em;
  padding-bottom: 0.1em;
  padding-left: 0.15em;
  padding-right: 0;  
  
  display: none
}

#player {
  position: relative;
  text-align: center
}

.control-bar {
  width: 100%;
  height: 1.7em;
  position: absolute;
  bottom: 0;
  font-size: 2em;
  color: white;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 0.2em
}

.control-bar span:hover {
  cursor: pointer;
}

.control-bar span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.control-right {
  float: right
}

.timeter {
  font-size: 0.9em;
  position: absolute;
}
